*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
/*Fejtéc---------------------------*/
header{
	text-align:center;
	padding-left:20px;
	padding-top:50px;
	padding-right:20px;
	padding-bottom:50px;
	background-color:#1abc9c;
	position:fixed;
	width:100%;
	height:20%;
	z-index:1;
}
header h1, header h2, header form{
	display:inline-block;
}
header form{
	float:right;
}
header input{
	padding:10px;
	border:none;
	background-color:#1abc9c;
	border-radius:10%;
	font-size:17px;
	font-weight:bold;
}
header input:hover{
	background-color:white;
	cursor:pointer;
}
header h2{
	float:left;
}

/*Menü--------------------------------*/
nav{
	position:fixed;
	top:20%;
	width:20%;
	height:100%;
	background-color:black;
}
nav button{
	display:block;
	width:100%;
	font-size:25px;
	text-align:left;
	padding-left:20px;
	padding-top:10px;
	padding-bottom:10px;
	border:none;
	background-color:black;
	color:white;
}
nav button:hover{
	background-color:white;
	color:black;
	cursor:pointer;
}

/*Lista-----------------------------------*/

/*Cím*/
section article{
	position:absolute;
	top:20%;
	width:80%;
	left:20%;
}
article h1{
	font-size:30px;
	text-align:center;
	padding:20px;
}
article h3{
	text-align:center;
	color:green;
}
/*Táblázatok*/
article table{
	margin:auto;
	width:100%;
	font-size:20px;
	padding:20px;
	text-align:center;
	border-collapse:collapse;
}
article #search{	
	padding-bottom:0;
}
article #list{
	padding-top:0;
}
article th, tr, td{
	padding:20px;
	border-bottom:2px solid #00FFFF;
	width:250px;
}
/*Gomb*/
article button{
	border:none;
	padding:10px;
	color:white;
	background-color:green;
	border-radius:5%;
}
article button:hover{
	background-color:black;
	cursor:pointer;
}

/*Insert container-ek*/
.container{
	display:none;
	position: fixed; 
	z-index: 1; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4); /
	padding-top: 60px;
}
.content{
	position:relative;
	text-align:center;
	background-color: white;
	margin: 5% auto 15% auto; 
	width: 25%;
	padding:20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container h1{
	margin:20px;
}
.container input[type=text], .container select, .container input[type=email], .container input[type=button]{
	width:100%;
}
.container input, .container select{
	margin-bottom:20px;
	padding:5px;
}
.container label{
	float:left;
	font-weight:bold;
}
.container input[type=button]{
	background-color:green;
	color:white;
	border-radius:5%;
	border:none;
}
.container input[type=button]:hover{
	background-color:black;
	cursor:pointer;
}
.container .close{
	position:absolute;
	top:0;
	right:0;
	padding-right:10px;
	font-size:40px;
}
.container .close:hover{
	color:green;
	cursor:pointer;
}
.container p{
	float:right;
	color:red;
}